.pomodoro {
	.watch {
		position: relative;
		width: 320px;
		height: 144px;
		overflow: hidden;

		.watch-container {
			background-color: rgba(0, 0, 0, 1);
			border-radius: 50px;
			height: 144px;
			width: 320px;
			opacity: 1;

			.watch-screen {
				border-radius: 50px;
				height: 144px;
				width: 320px;
				opacity: 1;

				.action {
					width: 267px;
					height: 48px;
					margin: 51px 0 0 33px;
					opacity: 1;

					.btn-container {
						border-radius: 25px;
						height: 48px;
						margin-right: 13px;
						width: 78px;
						opacity: 1;
						cursor: pointer;
						z-index: 1;
						background: rgba(26, 26, 26, 1);

						.btn {
							width: 39px;
							height: 17px;
							overflow-wrap: break-word;
							font-size: 12px;
							font-weight: bold;
							text-transform: uppercase;
							white-space: nowrap;
							line-height: 17px;
							margin: auto;
							opacity: 1;
						}

						.cancel {
							color: #5b0ddb;
						}

						.pause {
							color: #4bfce1;
						}

						.start {
							color: #f9f871;
						}
					}
				}
			}
		}

		.main {
			height: 144px;
			background-size: 100% 100%;
			width: 250px;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 1;

			.time-container {
				width: 89px;
				height: 35px;
				margin: 11px 0 0 117px;
				opacity: 1;

				.time-screen {
					width: 89px;
					height: 35px;
					overflow-wrap: break-word;
					color: rgba(255, 255, 255, 1);
					font-size: 36px;
					font-weight: NaN;
					text-align: left;
					white-space: nowrap;
					line-height: 35px;
					opacity: 1;
				}
			}

			.music {
				width: 128px;
				height: 20px;
				margin: 53px auto;

				.playContainer {
					margin: 0 30px;
					display: flex;

					li {
						position: absolute;
						list-style-type: none;
						border-radius: 100%;
					}

					a {
						border-style: solid;
						text-indent: -9999px;
						position: absolute;
					}

					.playpause {
						margin: 0 60px;

						label {
							display: block;
							box-sizing: border-box;
							width: 20px;
							height: 20px;
							border-color: transparent transparent transparent #23a8f2;
							transition: 100ms all ease;
							cursor: pointer;
							border-style: double;
							border-width: 0px 20px;
						}

						input[type="checkbox"] {
							visibility: hidden;

							&:checked+label {
								border-style: solid;
								border-width: 10px 0 10px 20px;
							}
						}
					}

					.next {
						a {
							border-color: transparent transparent transparent #23a8f2;
							border-width: 10px 0 10px 10px;
							top: 20px;

							&:first-child {
								margin-left: -7px;
							}
						}
					}

					.pre {
						a {
							border-width: 10px 10px 10px 0;
							border-color: transparent #23a8f2 transparent transparent;
							top: 20px;
							left: 128px;

							&:first-child {
								margin-left: -7px;
							}
						}
					}
				}
			}
		}
	}
}
