@import "./assets/pomodoro.scss";
@import 'v-calendar/dist/style.css';

.widgets-setting-item {
	font-weight: bold;
}

.widgets-pomodoro-setting-item {
	display: block;
}

.widgets-pomodoro-settings-audio-label {
	width: 30%;
}

.widgets-pomodoro-settings-audio-value {
	width: 68%;
}

.widgets-pomodoro-setting-icon {
	display: flex;
	height: 24px;
	width: 24px;
}

.widgets-pomodoro-item-draggable {
	cursor: grab;
	display: grid;
	grid-gap: 8px;
	grid-template-columns: 0.5fr 7fr;
	align-items: center;
	border-top: 1px solid var(--background-modifier-border);
}
